<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.RecordMapper">

    <resultMap id="BaseResultMap" type="com.example.springboot.domain.pojo.Record">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="communityId" column="community_id" jdbcType="INTEGER"/>
            <result property="messageId" column="message_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,community_id,
        message_id
    </sql>
</mapper>
